#buton{
width: 50%;
}


#div_hoge2, #div_hoge3{
	display: none;
}

button.btn-primary.focus-manual {
			background-color: green;
		}


button.btn-width99 {
			width: 99%;
			margin: 2px 0px;
		}

h1#title { 
			font-size:33px;
			font-weight: bold;
			margin:15px;
		}
